{{ define "eco_bundle_dogshelter/index.html" }}

{{ template "eco_bundle_dogshelter/header-top.html" . }} {{ template "eco_bundle_dogshelter/header-bottom.html" . }} {{ $table := .table }}

<section class="section">
    <div class="container">
        <div class="heading">
            <h1 class="title">Welcome to The Dog Shelter!</h1>
            <h2 class="subtitle">
                Why not take a look at our current residents...
            </h2>
        </div>
    </div>
</section>

{{ template "eco_bundle_dogshelter/footer.html" . }}

{{ end }}